 <div class="container-xxl courses my-6 py-6 pb-0">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-4">NOS FORMations</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">

                            <h5 class="mb-3">FORMULE BEA - 13 heures</h5>
                            <p>Permis B sur boite automatique</p>
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">950€</div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1677574622702-d93f29b3708b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">

                            <h5 class="mb-3">FORMULE B- 20 heures</h5>
                            <p>Permis Auto</p>
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">1 300€</div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1677574622702-d93f29b3708b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">

                            <h5 class="mb-3">CODE DE LA ROUTE</h5>
                            <p>La formation au code de la route</p>
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">150€</div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1677574622702-d93f29b3708b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">

                            <h5 class="mb-3">FORMULE B- 20 heures</h5>
                            <p>Permis Auto</p>
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">1 300€</div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1677574622702-d93f29b3708b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">

                            <h5 class="mb-3">FORMULE B- 20 heures</h5>
                            <p>Permis Auto</p>
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">1 300€</div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1677574622702-d93f29b3708b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">

                            <h5 class="mb-3">FORMULE A2- 20 heures</h5>
                            <p>Permis Moto</p>
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">750€</div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1677574622702-d93f29b3708b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
